fastapi
uvicorn
pymongo
motor
python-multipart
pytesseract
langchain==0.1.16
langchain-google-genai==0.0.6
pydantic
pydantic-settings
python-jose[cryptography]
slowapi
requests
pillow
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]